*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    position: relative;
}
header{
    width: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    nav{
        width: 90%;
        margin: auto;
        display: flex;
    }
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
  }
  .navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  }
  .navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
  }
  .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
  }
  .navbar.navbar-5 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
  }
  .navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
  }
  .navbar.navbar-7 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
  }
  .navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
  }

#Villa{
    width: 100%;
    height: 650px;
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('https://preview.colorlib.com/theme/villa/img/hero_1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    .VillaItem{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 80px;
           font-family: "Playfair+Display", times, serif;
          color: $main-color;
          line-height: 1;
          font-weight: bold;
        }
        p{
            margin-top: 10px;
            font-size: 30px;
           font-weight: 200;
          color: $main-color;
           line-height: 1.5;
        }
        #explore{
           width: 200px;
           height: 40px;
            border-radius: 20px;
            background-color:$second-color;
            color: $main-color;
            font-weight: 400px;
            border: none;
            &:hover{
                cursor: pointer;
                background-color: $hover-color;
            }
        }
        #down{
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: transparent;
            border: 2px solid $main-color;
            color: $main-color;
            font-weight: 500;
            &:hover{
                background-color:$main-color;
                color: $end-color;
            }


        }
    }
    }
}
#Visit{
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
    .container{
        width: 100%;
        height: auto;
        margin-top: 20px;
        #visit{
            font-size: 15px;
           text-transform: uppercase;
          font-family: "Mukta Mahee", arial, sans-serif;
          color: $third-color;
         letter-spacing: .2em;
           margin-bottom: 30px;
        }
        .VisitCard{
            margin-top: 20px;
            img{
                width: 100%;
                height: auto;
            }
            h5{
                margin-top: 6px;
                font-family: "Playfair+Display", times, serif;
                color: $end-color;
                font-size: 18px;
                &:hover{
                    cursor: pointer;
                    color: $second-color;
                }

            }
            i{
                color: $second-color;
            }
            #foot{
                color: $third-color;
                font-style: italic;
                 margin-left: 20px;
                padding-left: 30px;
            }
        }

    }
}

#gorgeous{
   width: 100%; 
   height: auto;
   padding: 30px;
    margin-top: 20px;
   .container{
    width: 100%;
        height: auto;
        display: flex;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .gorgeousHeader{
            margin-top: 20px;
            display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1{
            width: 50%;
            margin-top: 20px;
            font-size: 60px;
            font-family: "Playfair+Display", times, serif;


        }
        p{
            margin-top: 10px;
            width: 60%;
            font-family: "Mukta Mahee", arial, sans-serif;
         font-weight: 200;
         font-size: 16px;
         line-height: 1.8;
          color: $third-color;
        }
    .carusel{
    width: 100%;
    height: auto;
      }
        }
        }
   }
#Blog{
    width: 100%;
    height: auto;
    padding: 30px;
    background-image: url('https://preview.colorlib.com/theme/villa/img/round.png');
    margin-top: 20px;
    .container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .BlogHead{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1{
                margin-top: 20px;
                font-size: 55px;
                font-family: "Playfair+Display", times, serif;
            }
            p{
                margin-top: 10px;
            width: 60%;
            font-family: "Mukta Mahee", arial, sans-serif;
         font-weight: 200;
         font-size: 16px;
         line-height: 1.8;
          color: $third-color;
            }
        }
        #productsList{
            margin-top: 10px;
            display:flex ;
            align-items: center;
            justify-content: center;
            .boxDiv{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                img{
                    width: 90%;
                    height: auto;

                }
                .title{
                    color: $end-color;
                    font-weight: 600;
                    font-style: italic;
                }
                .description{
                    color: $third-color;
                    font-weight: 500;
                    font-style: italic;
                }
                button{
                    border: none;
                    padding: 8px;
                    background-color:#1A1A1A;
                    color: $main-color;
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        background-color: $main-color;
                        color: $end-color;
                    }

                }

            }
           
        }
        #pagi{
            display: flex;
            margin-top: 20px;
            justify-content: flex-start;
            border: none;
            background-color: transparent;
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
            cursor: pointer;
            color: $third-color;
        }
        a{
            padding: 15px;
            border-radius: 10px;
            background-color: rgb(155, 17, 17);
            color: $main-color;
        i{
            margin-top: 20px;
            font-size: 25px;
        }
    }
    }
}
@media screen and (max-width:991px) {
    #Blog{
        .container{
            #productsList{
               display: flex; 
               justify-content: space-between;
               align-items: center;
               flex-wrap: wrap;
               img{
                width: 100%;
               }
            }
        }
    }
    
}
footer{
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
    background-color: $end-color;
    .container{
        width: 100%;
        height: auto;
        margin-top: 20px;
        .footText{
            span{
                color:$third-color;
                
            }
            i{
                color: $third-color;
            }
            a{
                color: $third-color;
            }
        }
        .iconText{
            width: 20%;
            display: flex;
            justify-content: space-between;
            i{
                color: $third-color;
                &:hover{
                    color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
}